# Node
frontend/node_modules
frontend/dist

# Env files
.env
frontend/.env
backend/.env

# Python
__pycache__/
*.pyc

# ML files (optional if large)
*.pkl
!backend/models/*.pkl

# OS
.DS_Store

data/
*.csv